<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lisanne van Vliet Photography</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Lisanne van Vliet Photography</h1>

    <ul>
        <li><a class="active">Home</a></li>
        <li><a>Photo series</a></li>
        <li><a>About</a></li>
        <li><a>Contact</a></li>
    </ul>

    {{{body}}}
</body>
</html>