<h2>Selfless activism</h2>
<p>A photo series created during the Foto Lab at Meervaart Studio.</p>

<div class="images">
    {{#each images}}
        <img src="images/selfless-activism/{{this}}">
    {{/each}}
</div>

<div class="overlay">
    <div>
        <img>
    </div>
</div>