@font-face {
    font-family: Roboto Condensed;
    src: url(../fonts/RobotoCondensed-VariableFont_wght.ttf);
}

@font-face {
    font-family: Playfair Display;
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

:root {
    --lightest-alpha: rgba(246, 245, 242, .75); /* https://colorhunt.co/palette/f6f5f2f0ebe3f3d0d7ffefef */
    --lightest: #f6f5f2; /* https://colorhunt.co/palette/f6f5f2f0ebe3f3d0d7ffefef */
    --light: #f0ebe3; /* https://colorhunt.co/palette/f6f5f2f0ebe3f3d0d7ffefef */
    --dark: #8d7b68; /* https://colorhunt.co/palette/8d7b68a4907cc8b6a6f1dec9 */
    --darkest: #322c2b; /* https://colorhunt.co/palette/e4c59eaf8260803d3b322c2b */
}

body {
    background-color: var(--lightest);
    font-family: Roboto Condensed;
}

body, h1 a, li a {
    color: var(--darkest);
}

h1, h2 {
    font-family: Playfair Display;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

h1 a {
    text-decoration: none;
}

ul {
    align-items: center;
    background-color: var(--light);
    display: flex;
    height: 1px;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 40px;
    margin-top: 40px;
}

ul li a {
    background-color: var(--lightest);
    display: block;
    font-weight: 300;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
    text-transform: lowercase;
    transition: color .4s;
}

ul li a.active, li a:hover {
    color: var(--dark);
    cursor: pointer;
    transition: color .4s;
}

ul li a.active {
    cursor: default;
    pointer-events: none;
}

h2 {
    text-transform: none;
}

p {
    margin-bottom: 40px;
    text-align: center;
}

div.images {
    column-count: 5;
    column-gap: 8px;
    line-height: 0;
    margin-left: 40px;
    margin-right: 40px;
}

img {
    border-radius: 4px;
}

div.images img {
    margin-bottom: 4px;
    margin-top: 4px;
    transition: opacity .4s;
    width: 100%;
}

div.images img:hover {
    cursor: pointer;
    opacity: .75;
    transition: opacity .4s;
}

div.overlay {
    align-items: center;
    background-color: var(--lightest-alpha);
    cursor: pointer;
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

div.overlay.show {
    display: flex;
}

div.overlay.hide {
    display: none;
}

div.overlay div {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    padding: 40px;
}

div.overlay div img {
    cursor: default;
    max-height: 100%;
    max-width: 100%;
}

@media (max-width: 768px) {
    div.images {
        column-count: 3;
    }
}

@media (max-width: 425px) {
    div.images {
        column-count: 1;
    }

    div.images img:hover {
        cursor: default;
        opacity: 1;
    }

    div.overlay.show {
        display: none;
    }
}