@font-face {
    font-family: Roboto Condensed;
    src: url(../fonts/RobotoCondensed-VariableFont_wght.ttf);
}

@font-face {
    font-family: Playfair Display;
    src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

:root {
    --lighest: #f6f5f2; /* https://colorhunt.co/palette/f6f5f2f0ebe3f3d0d7ffefef */
    --light: #f0ebe3; /* https://colorhunt.co/palette/f6f5f2f0ebe3f3d0d7ffefef */
    --dark: #8d7b68; /* https://colorhunt.co/palette/8d7b68a4907cc8b6a6f1dec9 */
    --darkest: #322c2b; /* https://colorhunt.co/palette/e4c59eaf8260803d3b322c2b */
}

body {
    background-color: var(--lighest);
    color: var(--darkest);
    font-family: Roboto Condensed;
}

h1 {
    font-family: Playfair Display;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

ul {
    background-color: var(--light);
    display: flex;
    height: 1px;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 32px;
    margin-top: 32px;
}

li a {
    background-color: var(--lighest);
    display: block;
    font-weight: 300;
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    text-decoration: none;
    text-transform: lowercase;
    top: -8px;
    transition: color .5s;
}

li a.active, li a:hover {
    color: var(--dark);
    cursor: pointer;
    transition: color .5s;
}

li a.active {
    cursor: default;
}

div {
    column-count: 5;
    column-fill: balance;
    column-gap: 8px;
    line-height: 0;
}

div img {
    margin-bottom: 4px;
    margin-top: 4px;
    width: 100%;
}

@media (max-width: 768px) {
    div {
        column-count: 3;
    }
}

@media (max-width: 425px) {
    div {
        column-count: 1;
    }
}